In [1]:
# None
# True, False (boolean values)
# numbers -- int, float
# strings
# lists, tuples

# dict -- dictionary
# files -- reading, writing

In [2]:
# http://pythontutor.com

In [3]:
# strings, lists, and tuples are all sequences

# they can all:
# - index with [i]  (a number in [])
# - retrieve multiple items with a slice [start:end]
# - search with "in"
# - run a "for" loop on their elements
# - use "len" to get the length

# but:
# - strings only contain characters (strings of length 1)
# - strings + tuples are immutable (they cannot be changed)
# - only lists' elements can be modified
# - only lists can get bigger and smaller after being created

In [11]:
mylist = []

s = '10 20 abcd 30 4b 5a 60'
for one_item in s.split():
    if one_item.isdigit():
        mylist.append(int(one_item))
    
mylist

[10, 20, 30, 60]

In [6]:
mylist

['10', '20', 'abcd', '30', '4b', '5a', '60']

In [7]:
mylist.remove('30')  # removes one version of '30' from the list

In [8]:
mylist

['10', '20', 'abcd', '4b', '5a', '60']

In [12]:
s = 'abcd'

In [13]:
s.isalnum()

True

In [14]:
s = 'ab1234cd'
s.isalnum()

True

In [15]:
s = 'ab 12'
s.isalnum()

False

In [16]:
s.isascii()

True

In [19]:
# to turn a string into a list of strings, use "split"
# you need to say what character/string is the field delimiter

s = 'a:b:cd:ef:ghi'
fields = s.split(':')   # returns a list of strings
fields

['a', 'b', 'cd', 'ef', 'ghi']

In [21]:
'*'.join(fields)   # returns a string based on '*' and fields

'a*b*cd*ef*ghi'

In [22]:
# tuples are basically immutable lists
# meaning: you can create them, but you cannot change them.

t = (100, 200, 300, 400)
type(t)

tuple

In [23]:
300 in t

True

In [ ]:
# tuples, for you, are mostly to know what you're seeing with
# round parentheses.

In [24]:
# (0) Create two empty lists, one called "evens" and one called "odds"
# - evens = []

# (1) Ask the user, again and again, to enter a number.
# - if I don't know how many times I'll do something, I'll use
#   a while loop.  And I can say "while True" for an infinite loop.

# (2) If they give an empty string, stop asking
# - if the user's input is == '', then we'll *break* out of the loop

# (3) If they give a non-numeric input, scold them and try again
# - if not x.isdigit()

# (4) If they give a number, then add the number to either
# the "evens" or "odds" list, depending on whether it's even
# or odd.
# - if we got something that can be turned into a number, then
# - turn it into a number (i.e., use int() on it)
# - check if it's odd or even... and append it to the right
#   list.  Use either evens.append() or odds.append()


# (5) When we exit the loop, print the total + average of 
# each of the lists (evens and odds).
# - total each list by iterating (i.e., use a for loop)
#   over each, totalling the values ... and then use "len"
#   to get the length - which we can use in the average.

In [25]:
# to find out if a number is even, then divide it by 2.
# if the remainder is 0, it's even.  Otherwise, it's odd.

# the % (modulus) operator returns the remainder from 
# a division problem

10 % 2

0

In [26]:
11 % 2

1

In [31]:
evens = []
odds = []

while True:
    x = input("Enter a number: ")
    
    if x == '':
        break
        
    if x.isdigit():
        x = int(x)
        if x % 2 == 0:
            evens.append(x)
        else:
            odds.append(x)
            
    else:
        print(f'{x} is not numeric; try again')
        
# get sum + mean of evens
total = 0
for one_item in evens:
    total += one_item
print(f'total of evens is {total}, mean is {total/len(evens)}')

# get sum + mean of odds
total = 0
for one_item in odds:
    total += one_item
print(f'total of odds is {total}, mean is {total/len(odds)}')

Enter a number: 10
Enter a number: 15
Enter a number: 20
Enter a number: 23
Enter a number: 27
Enter a number: 29
Enter a number: 30
Enter a number: 32
Enter a number:

In [34]:

# get sum + mean of evens
total = 0
for one_item in evens:
    total += one_item
print(f'total of evens is {total}, mean is {total/len(evens)}')

# get sum + mean of odds
total = 0
for one_item in odds:
    total += one_item
print(f'total of odds is {total}, mean is {total/len(odds)}')

total of evens is 92, mean is 23.0
total of odds is 94, mean is 23.5

In [41]:
for one_list in [evens, odds]:
    total = 0
    print(f'Now checking {one_list}')
    for one_item in one_list:
        total += one_item
        print(f'\ttotal is {total}, mean is {total/len(one_list)}')

Now checking [10, 20, 30, 32]
	total is 10, mean is 2.5
	total is 30, mean is 7.5
	total is 60, mean is 15.0
	total is 92, mean is 23.0
Now checking [15, 23, 27, 29]
	total is 15, mean is 3.75
	total is 38, mean is 9.5
	total is 65, mean is 16.25
	total is 94, mean is 23.5

In [43]:
for t in [('evens', evens), ('odds', odds)]:
    list_name = t[0]
    one_list = t[1]

    total = 0
    print(f'Now checking {one_list}')
    for one_item in one_list:
        total += one_item
    print(f'\ttotal of {list_name} is {total}, mean is {total/len(one_list)}')

Now checking [10, 20, 30, 32]
	total of evens is 92, mean is 23.0
Now checking [15, 23, 27, 29]
	total of odds is 94, mean is 23.5

In [35]:
evens

[10, 20, 30, 32]

In [37]:
odds

[15, 23, 27, 29]

In [32]:
evens

[10, 20, 30, 32]

In [33]:
odds

[15, 23, 27, 29]

In [39]:
# dictionary

In [45]:
while True:
    x = input("Please enter a number: ")
    
    if x == "":
        break
    
    if x.isdigit():
        x = int(x)
        if x % 2 == 0:
            evens.append(x)
            print (f"{x} is even.")
            
        else:
            odds.append(x)
            print(f"{x} is odd.")
            
    else:
        print(f"{x} is not a numeric value. Try again.")

Please enter a number: 10
10 is even.
Please enter a number:

In [46]:
10 / 2

5.0

In [47]:
10 / 0

ZeroDivisionError: division by zero

In [49]:
mylist = [10, 20, 30]

for an_elephant_at_the_zoo in mylist:
    print(an_elephant_at_the_zoo)

10
20
30

In [51]:
# rules for Python identifiers (fancy word for variable names)
# - starts with a letter or _
# - after that, any letter, number, or _
# - for as long as you want
# - and it's case sensitive, so Foo and foo are different

In [52]:
for one_item in 'abcd':
    print(one_item)

a
b
c
d

In [53]:
for one_letter in '!@#$%':
    print(one_letter)

!
@
#
$
%

In [54]:
i = iter('abcd')  # are you iterable?  If so, give me an iterator

In [55]:
next(i)

'a'

In [56]:
next(i)

'b'

In [57]:
next(i)

'c'

In [58]:
next(i)

'd'

In [59]:
next(i)

StopIteration:

In [60]:
mylist = 'this is a test'.split()
mylist

['this', 'is', 'a', 'test']

In [61]:
mylist[0]

'this'

In [62]:
mylist[1]

'is'

In [63]:
mylist[2]

'a'

In [64]:
mylist[3]

'test'

In [65]:
# define dicts with curly braces {} !
d = {}

# add elements to a dictionary with assignment
# I have to assign both a key (index) and a value
d[10] = 'hello'
d[20] = 'goodbye'
d[30] = 'I dunno'

In [66]:
# list indexes are ints, but values are anything
# tuple indexes are ints, but values are anything
# dict indexes (keys) are ANYTHING IMMUTABLE
#    and values are anything

# mostly, dict keys are ints and strings

In [67]:
d[20]

'goodbye'

In [68]:
d[30]

'I dunno'

In [69]:
# dict keys can be strings!!!

In [70]:
d = {}
d['first'] = 'Reuven'
d['last'] = 'Lerner'
d['email'] = 'reuven@lerner.co.il'
d['shoesize'] = 46

In [71]:
d

{'first': 'Reuven',
 'last': 'Lerner',
 'email': 'reuven@lerner.co.il',
 'shoesize': 46}

In [72]:
d['first']

'Reuven'

In [73]:
d['last']

'Lerner'

In [74]:
# check if a key exists in a dict with "in"
'first' in d

True

In [75]:
'Reuven' in d

False

In [76]:
d

{'first': 'Reuven',
 'last': 'Lerner',
 'email': 'reuven@lerner.co.il',
 'shoesize': 46}

In [77]:
# let's replace the first name!
d['first'] = 'asdfasfaa'

In [78]:
d

{'first': 'asdfasfaa',
 'last': 'Lerner',
 'email': 'reuven@lerner.co.il',
 'shoesize': 46}

In [79]:
# (1) Define a dict called "menu" in which the item names (strings)
# are the dict keys, and the prices are the values

menu = {'sandwich': 15, 'tea': 7}

# (2) Ask the user repeatedly what they want to order
# a while True infinite loop

# (3) Based on their response:
# - If they enter an empty string, stop asking and print the
#   total price

# break from the loop if we get '' as input from the user

# - If they enter the name of something on the menu,
#   print the price and the new total

# - use "in" to check if the user's input is on the menu
#  for example:   'tea' in menu
#   given the user's choice, you can retrieve the price

#   order = 'tea'
#   menu[order]  # same as menu['tea'] -- will give us the price

# - If they enter the name of something *NOT* on the
#   menu, give a poor excuse

# if the key is *NOT* in the dict, then ... scold them

In [ ]:
# Order: sandwich
# sandwich is 15, total is 15
# Order: tea
# tea is 7, total is 22
# Order: elephant
# Sorry, we are fresh out of elephant today
# Order: <enter>
# Total is 22

In [80]:
total = 0
menu = {'sandwich':10, 'tea':7, 'soup':8}
print(len(menu))

while True:
    order = input("Order: ")
    
    if order == '':
        break
    
    elif order in menu:
        price = menu[order]
        total += price
        print(f'{order} cost {price}; total is now {total}')
        
    else:
        print(f'We are out of {order} today')
        
print(f'Total is {total}')

3
Order:
Total is 0

In [81]:
mylist = [10, 100, 1000, 5]

# use "in" to get a True/False on whether something is in a list
100 in mylist

True

In [82]:
1000 in mylist

True

In [83]:
'100' in mylist

False

In [84]:
d = {'a':1, 'b':2, 'c':3}

# "in" on a dict says: Is this item a dict key?
'a' in d  # is 'a' a key in d?

True

In [85]:
'c' in d

True

In [86]:
'c ' in d

False

In [87]:
menu

{'sandwich': 10, 'tea': 7, 'soup': 8}

In [88]:
'sandwich' in menu

True

In [89]:
'tea' in menu

True

In [90]:
'tea' in menu

True

In [91]:
order = 'tea'
order in menu

True

In [92]:
# menu['tea']

menu[order]  # retrieve the value from "menu" where the key is order

7

In [94]:
order

'tea'

In [96]:
menu

{'sandwich': 10, 'tea': 7, 'soup': 8}

In [98]:
total = 0
ordered_items = []
menu = {'sandwich':10, 'tea':7, 'soup':8}
print(len(menu))

while True:
    order = input("Order: ")
    
    if order == '':
        break
    
    elif order in menu:
        price = menu[order]
        ordered_items.append(order)
        total += price
        print(f'{order} cost {price}; total is now {total}')
        
    else:
        print(f'We are out of {order} today')
        
s = ', '.join(ordered_items)
print(f'You ordered {s}')
print(f'Total is {total}')

3
Order: tea
tea cost 7; total is now 7
Order: sandwich
sandwich cost 10; total is now 17
Order: soup
soup cost 8; total is now 25
Order:
You ordered tea, sandwich, soup
Total is 25

In [99]:
mylist = ['abcd', 'efgh', 'ijklm']

# join returns a string with the elements of mylist glued together
# with '***'
'***'.join(mylist)

'abcd***efgh***ijklm'

In [100]:
', '.join(mylist)

'abcd, efgh, ijklm'

In [101]:
','.join(mylist)

'abcd,efgh,ijklm'

In [103]:
print('\n'.join(mylist))

abcd
efgh
ijklm

In [104]:
d = {'a':1, 'b':2, 'c':3}

while True:
    one_letter = input("Enter a letter: ")
    
    if one_letter == '':
        break
        
    elif one_letter in d:
        d[one_letter] += 1
        
    else:
        print(f'{one_letter} is not valid')
        
print(d)

Enter a letter: a
Enter a letter: a
Enter a letter: a
Enter a letter: b
Enter a letter: c
Enter a letter: c
Enter a letter:
{'a': 4, 'b': 3, 'c': 5}

In [105]:
d = {}

while True:
    one_letter = input("Enter a letter: ")
    
    if one_letter == '':
        break
        
    elif one_letter in d:
        # if one_letter is already a key, then add 1 to it
        d[one_letter] += 1
        
    else:
        # if one_letter is not yet a key, make it one, with value 1
        d[one_letter] = 1
        
print(d)

Enter a letter: a
Enter a letter: a
Enter a letter: a
Enter a letter: b
Enter a letter: b
Enter a letter: c
Enter a letter:
{'a': 3, 'b': 2, 'c': 1}

In [ ]:
# (0) Initialize an empty dict, "rainfall"
# (1) Ask the user to enter a city name
# (2) If the city name is blank, stop asking and print the
#      dictionary of rainfall accumulation
# (3) If the city name is NOT blank, ask for mm rain that fell
# (4) Store the city + rainfall in a dict.  The city
#     will be the key, and the rainfall will be the value.  
# (5) Add to the rainfall if a city repeats -- don't just overwrite
#     the value

City: Jerusalem
Rain: 5
City: Tel Aviv
Rain: 4
City: Jerusalem
Rain: 3
City: <enter>  
    
{'Jerusalem': 8, 'Tel Aviv': 4}

In [106]:
# parser

d = {'a':1, 'b':2, 'c':3}
key = 'b'

value = d[key]   # value = d['b']

In [107]:
value

2

In [110]:
d = {'a':1, 'b':2, 'c':'3'}   

total = 0

while True:
    print(f'total = {total}')
    k = input("Enter key: ")
    
    if k == '':
        break
        
    elif k in d:
        print(f'\tYou chose {k}, value is {d[k]}')
        total += d[k]   # retrieve the value for d[k]
        
    else:
        print(f'key {k} is unknown ')

print(f'Finally, total = {total}')

total = 0
Enter key: a
	You chose a, value is 1
total = 1
Enter key: b
	You chose b, value is 2
total = 3
Enter key: c
	You chose c, value is 3

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [ ]:
total = 0
menu = {'sandwich':10, 'tea':7, 'soup':8}
print(len(menu))

while True:
    order = input("Order: ")
    
    if order == '':
        break
    
    elif order in menu:
        price = menu[order]
        total += price
        print(f'{order} cost {price}; total is now {total}')
        
    else:
        print(f'We are out of {order} today')
        
print(f'Total is {total}')

In [ ]:
# (0) Initialize an empty dict, "rainfall"
# rainfall = {}

# (1) Ask the user to enter a city name
# while True -- we don't know how many iterations we'll run
# use "input" to get the user's input

# (2) If the city name is blank, stop asking and print the
#      dictionary of rainfall accumulation
# check if the input we got is an empty string

# (3) If the city name is NOT blank, ask for mm rain that fell
# ask for a 2nd piece of information -- mm_rain
# remember: when we get input, it's a string!
# so we'll need to convert the string into an integer

# (4) Store the city + rainfall in a dict.  The city
#     will be the key, and the rainfall will be the value.  
# - check:
# is the key in rainfall already ? If so, just add to its value
# if the key is new (i.e., doesn't yet exist in rainfall),
#   then we'll just set the value

# (5) Add to the rainfall if a city repeats -- don't just overwrite
#     the value

City: Jerusalem
Rain: 5
City: Tel Aviv
Rain: 4
City: Jerusalem
Rain: 3
City: <enter>  
    
{'Jerusalem': 8, 'Tel Aviv': 4}

In [ ]:
rainfall = {}

while True:
    city = input ("Enter a city: ")
    
    if city == '':
        break

    rain = int( input ("Enter the mm of rain that fell: "))
    
    if city in rainfall:
        value = int(rainfall[city])
        value = value+rain
        rainfall[city] = value
    else:
        rainfall[city] = rain
print (rainfall)

In [112]:
rainfall = {}
while True: 
    city = input(" Enter your city: ")
    
    if city == '':
        break
    
    amount = input("Enter rain amount: ")
    if not amount.isdigit():
        print(f'{amount} is not valid value! amount try again')
        continue

    if city in rainfall:   # is city (already) a key in rainfall?
        rainfall[city] += int(amount)  # add to existing amount
    else:
        rainfall[city] = int(amount)   # add a new key-value pair

print(f'Total rainfall foe each city is as follwos {rainfall}')

 Enter your city: a
Enter rain amount: 1
 Enter your city: b
Enter rain amount: 2
 Enter your city: a
Enter rain amount: 3
 Enter your city:
Total rainfall foe each city is as follwos {'a': 4, 'b': 2}

In [113]:
d = {'a':1, 'b':2, 'c':3}

In [114]:
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [115]:
for one_item in d:
    print(one_item)

a
b
c

In [116]:
for key in d:
    print(f'{key}: {d[key]}')

a: 1
b: 2
c: 3

In [117]:
for key, value in d.items():
    print(f'{key}: {value}')

a: 1
b: 2
c: 3

In [118]:
rainfall

{'a': 4, 'b': 2}

In [119]:
for city, mm_rain in rainfall.items():
    print(f'{city}: {mm_rain}')

a: 4
b: 2